<!DOCTYPE html>
<html lang="pt-br" class="bg-black text-white">
    <%- include('partials/head') %>
    <body class="flex flex-col min-h-screen font-sans">
        <%- include('partials/simple-header') %>
        <main class="flex-grow px-4 md:px-8 py-12">
            <div class="max-w-3xl mx-auto space-y-6">
                <h2 class="text-3xl font-semibold mb-4">Entre em contato</h2>
                <p class="text-zinc-300 leading-relaxed text-lg">
                    Se você tiver alguma dúvida, sugestão ou precisar de mais informações sobre algum assunto, estamos à disposição para ajudar!
                </p>
                <p class="text-zinc-400 leading-relaxed">
                    Para entrar em contato conosco, envie uma mensagem para: 
                    <a href="mailto:seuemail@dominio.com" class="text-blue-400 hover:underline">moneycodecomercial@gmail.com</a>.
                </p>
                <p class="text-zinc-500 leading-relaxed mt-6">
                    Sua privacidade é importante para nós. As informações fornecidas serão tratadas com segurança e confidencialidade.
                </p>
                <div class="mt-6">
                    <a href="/" class="text-sm text-blue-400 hover:underline">Voltar</a>
                </div>
            </div>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>